html{
  width: 100vw;
  height: 200vw;
  background-image: url(https://i.ibb.co/89QhhLz/fondopixel.jpg);
  background-size: 100vw;
  background-repeat: repeat-y;
  margin-top: auto;
  margin-left: -.2vw;;
  margin-right: auto;
}


.encabezado{
  width: 100%;
  height: 49.5vw;
  background-color: black;
}
.navegador{
  margin-top: -8vw;
  margin-left: 16vw;
  width: 100%;
  height: 5vw;
  color: white;
}
.navegadorsm{
  padding: 4vw;
  font-family: "impact" ;
  font-size: 2vw;
  color: white;
  text-decoration: none;
}

.navegadorp{
  padding: 1vw;
  font-family: "impact" ;
  font-size: 2vw;
  color: white;
  text-decoration: none;
}

.navegadorS{
  margin-left: 12VW;
  padding: 1vw;
  font-family: "impact" ;
  font-size: 2vw;
  color: white;
  text-decoration: none;
}

.navegadorC{
  padding: 4vw;
  font-family: "impact" ;
  font-size: 2vw;
  color: white;
  text-decoration: none;
}

.milogoportada{
  margin-top: auto;
  margin-left: 42vw;
  width: 15vw;
}

.imgportada{
  margin-top: 8vw;
}

.uxdesigner{
  margin-left: 11vw;
  margin-top: -12vw;
  width: 75vw;
  height: 36vw;
}

.miicono{
  width:45vw;;
  margin-top: -22vw;
  margin-left: 24vw;
}

.triangulo{
  margin-top: -63.2vw;
  width: 97.5vw;
}


.sobremi{
  margin-top: 27vw;
  width: 100%;
  height: 22vw;
  background-color: white;
}
 .mi{
   margin-left: 25vw;
   margin-top: 0vw;
   width: 65vw;
 }

.trianguloreves{
  margin-top: -85vw;
  width: 100%;
}

.misproyectos{
  margin-top: -1vw;
  padding-top: 5vw;
  font-family: "impact" ;
  font-size: 4vw;
  color: black;
  text-align: center;
}

#proyectos{
  margin-top: -1vw;
}
#button-banqui{
  margin-left: 3.5vw;
  width: 30vw;}

  #button-banqui: hover{
    width: 35vw;

}

#button-betabel{
  width: 30vw;
}
#button-midoc{
  width: 30vw;
}

.triangulop{
  margin-top: -59vw;
  width: 100%;
}

.habilidades{
  margin-top: -10vw;
  width: 100%;
  height:37vw;
  background-color: white;
}
#habilidades{
  width: 100%;
  margin-top: -10vw;
}

.soft{
  margin-top: 6vw;
}
.skills{
  margin-top: -10vw;
  font-family: "impact" ;
  font-size: 4vw;
  color: black;
  text-align: center;
}
.creatividad{
  margin-left: 13vw;
  width: 25vw;
}

.pensamiento{
  width: 25vw;
}

.comunicacion{
  width: 25vw;
}

.crea{
  margin-top: -8vw;
  margin-left: -48vw;
  font-family: "arial narrow" ;
  font-size: 1.4vw;
  color: black;
  text-align: center;
}

.pensa{
  margin-top: -8vw;
  margin-left: 2.5vw;
  font-family: "arial narrow" ;
  font-size: 1.4vw;
  color: black;
  text-align: center;
}

.comu{
  margin-top: -9vw;
  margin-left: 53vw;
  font-family: "arial narrow" ;
  font-size: 1.4vw;
  color: black;
  text-align: center;
}
.conoci{
  margin-top: -10vw;
}
.trianguloblanco{
  width:100vw;
  margin-top: -11.5vw;
}

.micono{
  margin-top: -71vw;
  margin-left: 2.5vw;
  width: 35vw;
}

.conocimientos{
  margin-top: 29vw;
  font-family: "impact" ;
  font-size: 4vw;
  color: black;
  text-align: center;
}
.triacono{
  width: 105vw;
  height: 45vw;
  margin-top: -22vw;
}

.dialogo{
  margin-top: -32vw;
  margin-left: 5vw;
  font-family: "arial narrow" ;
  font-size: 1.6vw;
  color: black;
  text-align: center;
}
.triancontablan{
  margin-top: 10vw;
  width: 110vw;
}
.trianconta{
  margin-top: -70vw;
  margin-left: -16vw;
  width: 147vw;
}
.contacto{
  padding-top: 2vw;
  background-color: white;
  width: 100%;
  height: 28vw;
  margin-top: -18vw;
}
.titcontacto{
  margin-top: -70vw;
  margin-left: 38vw;
  font-family: "impact" ;
  font-size: 4vw;
  color: black;
  text-align: center;
}
.correo{
  margin-top: -15vw;
  padding-left: 10vw;
  width: 20vw;
}
.whats{
  padding-left: 22.5vw;
  width: 20vw;
}
.cel{
  margin-top: -4vw;
  margin-left: 26vw;
  font-family: "arial narrow" ;
  font-size: 2vw;
  color: black;

}
.mail{
  margin-top: -4.5vw;
  margin-left: 54vw;
  font-family: "arial narrow" ;
  font-size: 2vw;
  color: black;

}
.trianfin{
  width: 104.5vw;
  margin-top: -30vw;
}
.fin{
  margin-top: -30vw;
}
.triangulorevesfin{
  width: 99vw;
  margin-top: -100vw;
}





.triangulonavbanqui{
  width: 100vw;
  height: 65vw;
  margin-top: -40vw;
}

.milogoportadaban{
  width: 25vw;
  margin-top: -30vw;
  margin-left: -13vw;
}
.nav-banqui{
  margin-top: -16vw;
  margin-left: 8vw;
}

.inicio-banqui{
  padding-right: 6vw;
  font-family: "impact" ;
  font-size: 2vw;
  color: white;
  text-decoration: none;
}
.inicio-beqtabel{
  padding-right: 7vw;
  font-family: "impact" ;
  font-size: 2vw;
  color: white;
  text-decoration: none;

}
.inicio-midoc{
  padding-right: 2vw;
  font-family: "impact" ;
  font-size: 2vw;
  color: white;
  text-decoration: none;
}


.pantallas-banqui{
  display: block;
  margin-top: -10vw;
  margin-left: 15vw;
  margin-right: auto;
  margin-bottom: 4vw;
  width: 50vw;
  height: 38vw;
  background-image: url(https://i.ibb.co/yYrypKn/izq-slide.png);
  background-size:25vw;
  background-repeat: no-repeat;


  animation: movimiento 15s infinite linear alternate;
}

@keyframes movimiento {
  from{
    background-position: top;

  }to{
    background-position: bottom;
  }

}

.pantallas-banqui-der{
  display: block;
  margin-top: -48vw;
  margin-left: 35vw;
  margin-right: auto;
  margin-bottom: 4vw;
  width: 50vw;
  height: 38vw;
  background-image: url(https://i.ibb.co/5cy7GFt/der-slide.png);
  background-size:22vw;
  background-repeat: no-repeat;


  animation: movimientos 15s infinite linear alternate;
}

@keyframes movimientos {
  from{
    background-position: bottom;

  }to{
    background-position: top;
  }

}

.triacono-ban1{
  width: 108VW;
  height: 35vw;
  margin-top: 20vw;
  margin-left: -18vw;
}
.banqui-p{
  margin-top: -40vw;
  margin-left: 24vw;
  font-family: "impact" ;
  font-size: 6vw;
  color: black;
}

.descripcion{
  width: 80vw;
  height: 293vw;;
  margin-top: 14vw;
  margin-left: 9vw;
  background-color: white;
}

.contexto{
  width: 80vw;
  align: center;
}
.logo-banqui{
  width: 28vw;
  margin-top: 4vw;
  margin-left: 2vw;
}
.fintech{
  width: 50vw;
  margin-top: -30vw;
  margin-left: 50vw;
  float: right;
  font-family: "arial" ;
  font-size: 1.5vw;
}
.reto{
  margin-top: -20vw;
  margin-left: 50vw;
  font-family: "impact" ;
  font-size: 3vw;
  color: black;
}
.retos{
  width: 50vw;
  margin-top: -15vw;
  margin-left: 50vw;
  float: right;
  font-family: "arial" ;
  font-size: 1.5vw;
}
.conobanqui{
  margin-top: -3vw;
  margin-left: 28vw;
  font-family: "impact" ;
  font-size: 3vw;
  color: black;
}
.objetivosbanqui{
  margin-top: 2vw;
  margin-left: 10vw;
  font-family: "arial" ;
  font-size: 1.5vw;

}
.oportunidadesbanqui{
  padding-right: 7vw;
  margin-top: -11vw;
  margin-left: -25vw;
  float: right;
  font-family: "arial" ;
  font-size: 1.5vw;
}
.trianguloreto{
  margin-top: 4vw;
  width: 86vw;
  height: 10vw;
}
.trianguloretofin{
 margin-top: -12vw;
  width: 80vw;
  height: 20vw;
}
.investigacionb{
  margin-top: -2vw;
  margin-left: 21vw;
  font-family: "impact" ;
  font-size: 3vw;
  color: black;
}
.entrevistasbanqui{
  margin-left: 9vw;
  font-family: "arial" ;
  font-size: 1.5vw;
}
.problemasdeusabilidad{
  margin-left: 9vw;
  font-family: "arial" ;
  font-size: 1.5vw;
}

.descargas{
  margin-left: 9vw;
  font-family: "arial" ;
  font-size: 1.5vw;
}
.trides{
  margin-top: 1vw;
   width: 85.7vw;
   height: 10vw;
}
.personabanqui{
  margin-top: -2vw;
  margin-left: 30vw;
  font-family: "impact" ;
  font-size: 3vw;
  color: black;
}
.ubanqui{
  width: 50vw;;
  margin-left: 15vw;
}

.descripuserb{
  margin-left: 4vw;
  font-family: "arial" ;
  font-size: 1.5vw;
}
.trianguloub{
  margin-top: -12vw;
  width: 80vw;
  height: 20vw;
}

.solubanqui{
  margin-left: 33vw;
  font-family: "impact" ;
  font-size: 3vw;
  color: black;
}

.carruselbanqui{
  width:50vw;
  margin-top: -3vw;
  margin-left: 15vw;
  overflow: hidden;

}
.carruselbanqui ul{
  display: flex;
  padding: 0;
  width: 300vw;

  animation: cambio 50s infinite alternate;
}

.carruselbanqui li{
  width: 100%;
  list-style: none;
}

.carruselbanqui img{
  width: 100%
}
@keyframes cambio {

  0% {margin-left: 0;}
  14%{margin-left: 0;}

  17%{margin-left: -100%;}
  25%{margin-left: -100%;}

  28%{margin-left: -200%;}
  44%{margin-left: -200%;}

  47%{margin-left: -300%;}
  63%{margin-left: -300%;}

  66%{margin-left: -400%;}
  84%{margin-left: -400%;}

  87%{margin-left: -500%;}
  100%{margin-left: -500%;}


}
.triangulofinb{
  width: 100vw;
  height: 65vw;
  margin-left: -10vw;
  margin-top: -45vw;
}


.milogoportadabanfin{
  width: 25vw;
  margin-top: -25vw;
  margin-left: -9vw;
}
.nav-banqui-fin{
  margin-top: -9vw;
  margin-left: 8vw;
}

.inicio-banqui-fin{
  padding-right: 6vw;
  font-family: "impact" ;
  font-size: 2vw;
  color: white;
  text-decoration: none;
}
.inicio-beqtabel-fin{
  padding-right: 7vw;
  font-family: "impact" ;
  font-size: 2vw;
  color: white;
  text-decoration: none;

}
.inicio-midoc-fin{
  padding-right: 2vw;
  font-family: "impact" ;
  font-size: 2vw;
  color: white;
  text-decoration: none;
}
.descripciondesoluciones{
  width: 54vw;
  margin-top: -1.5vw;
  padding-bottom: 1.5vw;
  margin-left: 15vw;
  font-family: "arial" ;
  font-size: 1.5vw;
}

.triangulocola{
  margin-top: 1vw;
  width: 86vw;
  height: 10vw;
}
.particpacionb{
  margin-top: -3vw;
  margin-left: 33vw;
  font-family: "impact" ;
  font-size: 3vw;
  color: black;
}
.logoequipoban{
  width: 30vw;
  margin-top: -1vw;
  margin-left: 5vw;
  float: left;
}
.colaboradorasbanqui{
  margin-left: 8vw;
  font-family: "arial" ;
  font-size: 1.5vw;
}
.micolaboracion{
  width: 60vw;
  margin-top: 3vw;
  margin-left: 10vw;
  font-family: "arial" ;
  font-size: 1.5vw;
}





.triangulonavbetabel{
  width: 100vw;
  height: 65vw;
  margin-top: -40vw;
}

.milogoportadabetabel{
  width: 25vw;
  margin-top: -30vw;
  margin-left: -13vw;
}
.nav-betabel{
  margin-top: -16vw;
  margin-left: 8vw;
}

.inicio-betabel{
  padding-right: 6vw;
  font-family: "impact" ;
  font-size: 2vw;
  color: white;
  text-decoration: none;
}
.inicio-banqui{
  padding-right: 7vw;
  font-family: "impact" ;
  font-size: 2vw;
  color: white;
  text-decoration: none;

}
.inicio-midoc{
  padding-right: 2vw;
  font-family: "impact" ;
  font-size: 2vw;
  color: white;
  text-decoration: none;
}


.pantallas-betabel{
  display: block;
  margin-top: -10vw;
  margin-left: 15vw;
  margin-right: auto;
  margin-bottom: 4vw;
  width: 40vw;
  height: 38vw;
  background-image: url(https://i.ibb.co/Vg6yc1r/carrubetaizqui.png);
  background-size:22.5vw;
  background-repeat: no-repeat;


  animation: movimiento 15s infinite linear alternate;
}

@keyframes movimiento {
  from{
    background-position: top;

  }to{
    background-position: bottom;
  }

}

.pantallas-betabel-der{
  display: block;
  margin-top: -48vw;
  margin-left: 35vw;
  margin-right: auto;
  margin-bottom: 4vw;
  width: 50vw;
  height: 38vw;
  background-image: url(https://i.ibb.co/nRL94nm/carrubetader.png);
  background-size:22vw;
  background-repeat: no-repeat;


  animation: movimientos 15s infinite linear alternate;
}

@keyframes movimientos {
  from{
    background-position: bottom;

  }to{
    background-position: top;
  }

}

.triacono-bet1{
  width: 108VW;
  height: 35vw;
  margin-top: 20vw;
  margin-left: -18vw;
}
.betabel-p{
  margin-top: -40vw;
  margin-left: 24vw;
  font-family: "impact" ;
  font-size: 6vw;
  color: black;
}

.descripcion-betabel{
  width: 80vw;
  height: 415vw;;
  margin-top: 14vw;
  margin-left: 9vw;
  background-color: white;
}

.contexto-betabel{
  width: 80vw;
  align: center;
}
.logo-betabel{
  width: 30vw;
  margin-top: 4vw;
  margin-left: -1vw;
}
.fintech-betabel{
  width: 50vw;
  margin-top: -18vw;
  padding-right: 5vw;
  padding-left: 2vw;
  margin-left: 50vw;
  float: right;
  font-family: "arial" ;
  font-size: 1.5vw;
}
.reto-betabel{
  margin-top: -8vw;
  margin-left: 38vw;
  font-family: "impact" ;
  font-size: 3vw;
  color: black;
}
.retos-betabel{
  width: 70vw;
  margin-top: -3vw;
  margin-left: 30vw;
  padding-right: 5vw;
  float: right;
  font-family: "arial" ;
  font-size: 1.5vw;
}
.conobetabel{
  margin-top: -3vw;
  margin-left: 24vw;
  font-family: "impact" ;
  font-size: 3vw;
  color: black;
}
.objetivosbetabel{
  width: 60vw;
  margin-top: 2vw;
  margin-left: 10vw;
  font-family: "arial" ;
  font-size: 1.5vw;

}
.oportunidadesbetabel{
  width: 60vw;
  margin-top: 3vw;
  margin-left: 10vw;
  font-family: "arial" ;
  font-size: 1.5vw;
}
.trianguloretobetabel{
  margin-top: 4vw;
  width: 86vw;
  height: 10vw;
}
.trianguloretofinbetabel{
 margin-top: -10vw;
  width: 80vw;
  height: 20vw;
}
.investigacionbetabel{
  margin-top: -2vw;
  margin-left: 21vw;
  font-family: "impact" ;
  font-size: 3vw;
  color: black;
}
.entrevistasbetabel{
  width: 65vw;
  margin-left: 10vw;
  font-family: "arial" ;
  font-size: 1.5vw;
}
.problemasdeusabilidad{
  margin-left: 9vw;
  font-family: "arial" ;
  font-size: 1.5vw;
}

.descargas{
  margin-left: 9vw;
  font-family: "arial" ;
  font-size: 1.5vw;
}
.trides{
  margin-top: 1vw;
   width: 85.7vw;
   height: 10vw;
}
.personabanqui{
  margin-top: -2vw;
  margin-left: 30vw;
  font-family: "impact" ;
  font-size: 3vw;
  color: black;
}
.usersocialbeta{
  width: 70vw;;
  margin-left: 5vw;
  margin-top: -2vw;
}
.usersocialbeta{
  width: 70vw;;
  margin-left: 5vw;
  padding-top: 5vw;
}

.descripuserb{
  margin-left: 4vw;
  font-family: "arial" ;
  font-size: 1.5vw;
}
.descripciondesoluban
.trianguloub{
  margin-top: -12vw;
  width: 80vw;
  height: 20vw;
}

.solubanqui{
  margin-left: 33vw;
  font-family: "impact" ;
  font-size: 3vw;
  color: black;
}

.carruselbetabel{
  width:60vw;
  margin-top: -3vw;
  margin-left: 10vw;
  overflow: hidden;

}
.carruselbetabel ul{
  display: flex;
  padding: 0;
  width: 300vw;

  animation: cambiobeta 55s infinite alternate;
}

.carruselbetabel li{
  width: 100%;
  list-style: none;
}

.carruselbetabel img{
  width: 100%
}
@keyframes cambiobeta {

  0% {margin-left: 0;}
  17%{margin-left: 0;}

  20%{margin-left: -100%;}
  38%{margin-left: -100%;}

  41%{margin-left: -200%;}
  59%{margin-left: -200%;}

  62%{margin-left: -300%;}
  80%{margin-left: -300%;}

  83%{margin-left: -400%;}
  100%{margin-left: -400%;}


}

.descripciondesoluban{
  margin-left: 4vw;
  font-family: "arial" ;
  font-size: 1.5vw;
}

.carruselbetabelservicios{
  width:60vw;
  padding-top: 8vw;
  margin-top: -3vw;
  margin-left: 10vw;
  overflow: hidden;

}
.carruselbetabelservicios ul{
  display: flex;
  padding: 0;
  width: 300vw;

  animation: cambiobetaser 50s infinite alternate;
}

.carruselbetabelservicios li{
  width: 100%;
  list-style: none;
}

.carruselbetabelservicios img{
  width: 100%
}
@keyframes cambiobetaser {

  0% {margin-left: 0;}
  17%{margin-left: 0;}

  20%{margin-left: -100%;}
  38%{margin-left: -100%;}

  41%{margin-left: -200%;}
  59%{margin-left: -200%;}

  62%{margin-left: -300%;}
  80%{margin-left: -300%;}

  83%{margin-left: -400%;}
  100%{margin-left: -400%;}


}
.triangulofinb{
  width: 100vw;
  height: 65vw;
  margin-left: -10vw;
  margin-top: -45vw;
}


.milogoportadabanfin{
  width: 25vw;
  margin-top: -25vw;
  margin-left: -9vw;
}
.nav-banqui-fin{
  margin-top: -9vw;
  margin-left: 8vw;
}

.inicio-banqui-fin{
  padding-right: 6vw;
  font-family: "impact" ;
  font-size: 2vw;
  color: white;
  text-decoration: none;
}
.inicio-beqtabel-fin{
  padding-right: 7vw;
  font-family: "impact" ;
  font-size: 2vw;
  color: white;
  text-decoration: none;

}
.inicio-midoc-fin{
  padding-right: 2vw;
  font-family: "impact" ;
  font-size: 2vw;
  color: white;
  text-decoration: none;
}
.descripciondesoluciones{
  width: 54vw;
  margin-top: -1.5vw;
  padding-bottom: 1.5vw;
  margin-left: 15vw;
  font-family: "arial" ;
  font-size: 1.5vw;
}

.triangulocola{
  margin-top: 1vw;
  width: 86vw;
  height: 10vw;
}
.particpacionb{
  margin-top: -3vw;
  margin-left: 33vw;
  font-family: "impact" ;
  font-size: 3vw;
  color: black;
}
.logoequipoban{
  width: 30vw;
  margin-top: -1vw;
  margin-left: 5vw;
  float: left;
}
.colaboradorasbanqui{
  margin-left: 8vw;
  font-family: "arial" ;
  font-size: 1.5vw;
}
.micolaboracion{
  width: 60vw;
  margin-top: 3vw;
  margin-left: 10vw;
  font-family: "arial" ;
  font-size: 1.5vw;
}
